body {
  font-family: "Orbitron", sans-serif;
  font-size: 14px;
  background-color: #01121a;
}

.container {
  margin: 40px auto;
  width: 300px;
  background-color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}

#timer {
  color: #01121a;
  background-color: #ddd;
  height: 200px;
  line-height: 200px;
  font-size: 55px;
  margin-bottom: 15px;
}

.btn {
  color: #01121a;
  font-size: 20px;
  width: 90px;
  height: 45px;
  line-height: 45px;
  background-color: #ddd;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.inactive {
  opacity: 0.6;
}
